In [1]:
import pandas as pd
files = [
    '1-CPIAUCSL',
    '2-UNRATE',
    '3-MORTGAGE30US',
    '4-Metro_market_temp_index_uc_sfrcondo_month',
    '5-Metro_invt_fs_uc_sfrcondo_month',
    '6-Metro_mlp_uc_sfrcondo_month',
    '7-Metro_median_sale_to_list_uc_sfrcondo_month',
    '8-Metro_median_days_to_close_uc_sfrcondo_month',
    'Y-Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_month'
]

In [ ]:
# pip install yfinance--upgrade --no-cache-dir
import yfinance as yf

sp500 = yf.Ticker("^GSPC")
hist = sp500.history(start="2018-01-01", end="2025-06-19", interval="1mo")

sp500_close = hist["Close"].reset_index()
sp500_close.rename(columns={'Date': 'date'}, inplace=True)
sp500_close['date'] = sp500_close['date'].dt.year.astype(str) + '-' + sp500_close['date'].dt.month.astype(str)
sp500_close.head()

     date        Close
0  2018-1  2823.810059
1  2018-2  2713.830078
2  2018-3  2640.870117
3  2018-4  2648.050049
4  2018-5  2705.270020

In [3]:
start_year = 2018
start_month = 1
cpi = pd.read_csv("1-CPIAUCSL.csv")
cpi['observation_date'] = pd.to_datetime(cpi['observation_date'])
print("min date of cpi:", cpi['observation_date'].min())
cpi = cpi[(cpi['observation_date'].dt.year >= start_year) & (cpi['observation_date'].dt.month >= start_month)]
cpi.rename(columns={'observation_date': 'date'}, inplace=True)
cpi['date'] = cpi['date'].dt.year.astype(str) + '-' + cpi['date'].dt.month.astype(str)

unrate = pd.read_csv("2-UNRATE.csv")
unrate['observation_date'] = pd.to_datetime(unrate['observation_date'])
print("min date of unrate:", unrate['observation_date'].min())
unrate = unrate[(unrate['observation_date'].dt.year >= start_year) & (unrate['observation_date'].dt.month >= start_month)]
unrate.rename(columns={'observation_date': 'date'}, inplace=True)
unrate['date'] = unrate['date'].dt.year.astype(str) + '-' + unrate['date'].dt.month.astype(str)

mortgage = pd.read_csv("3-MORTGAGE30US.csv")
mortgage['observation_date'] = pd.to_datetime(mortgage['observation_date'])
print("min date of mortgage:", mortgage['observation_date'].min())
mortgage = mortgage[(mortgage['observation_date'].dt.year >= start_year) & (mortgage['observation_date'].dt.month >= start_month)]
# pick each start month
mortgage['date'] = mortgage['observation_date'].dt.year.astype(str) + mortgage['observation_date'].dt.month.astype(str)
mortgage = mortgage.sort_values(by=['date', 'observation_date'], ascending=True).groupby('date').first().sort_values(by="observation_date")
mortgage.rename(columns={'observation_date': 'date'}, inplace=True)
mortgage.reset_index(drop=True, inplace=True)
mortgage['date'] = mortgage['date'].dt.year.astype(str) + '-' + mortgage['date'].dt.month.astype(str)

zillow_mhi = pd.read_csv("4-Metro_market_temp_index_uc_sfrcondo_month.csv")
zillow_mhi = zillow_mhi.iloc[0,5:].T.rename("zillow_mhi").astype(float)
zillow_mhi = zillow_mhi.reset_index().rename(columns={'index': 'date'})
zillow_mhi['date'] = pd.to_datetime(zillow_mhi['date'])
print("min date of zillow_mhi:", zillow_mhi['date'].min())
zillow_mhi = zillow_mhi[(zillow_mhi['date'].dt.year >= start_year) & (zillow_mhi['date'].dt.month >= start_month)]
zillow_mhi['date'] = zillow_mhi['date'].dt.year.astype(str) + '-' + zillow_mhi['date'].dt.month.astype(str)

zillow_fsi = pd.read_csv("5-Metro_invt_fs_uc_sfrcondo_month.csv")
zillow_fsi = zillow_fsi.iloc[0,5:].T.rename("Zillow_fsi").astype(float)
zillow_fsi = zillow_fsi.reset_index().rename(columns={'index': 'date'})
zillow_fsi['date'] = pd.to_datetime(zillow_fsi['date'])
print("min date of zillow_fsi:", zillow_fsi['date'].min())
zillow_fsi = zillow_fsi[(zillow_fsi['date'].dt.year >= start_year) & (zillow_fsi['date'].dt.month >= start_month)]
zillow_fsi['date'] = zillow_fsi['date'].dt.year.astype(str) + '-' + zillow_fsi['date'].dt.month.astype(str)

zillow_mlp = pd.read_csv("6-Metro_mlp_uc_sfrcondo_month.csv")
zillow_mlp = zillow_mlp.iloc[0,5:].T.rename("Zillow_mlp").astype(float)
zillow_mlp = zillow_mlp.reset_index().rename(columns={'index': 'date'})
zillow_mlp['date'] = pd.to_datetime(zillow_mlp['date'])
print("min date of zillow_mlp:", zillow_mlp['date'].min())
zillow_mlp = zillow_mlp[(zillow_mlp['date'].dt.year >= start_year) & (zillow_mlp['date'].dt.month >= start_month)]
zillow_mlp['date'] = zillow_mlp['date'].dt.year.astype(str) + '-' + zillow_mlp['date'].dt.month.astype(str)

zillow_slr = pd.read_csv("7-Metro_median_sale_to_list_uc_sfrcondo_month.csv")
zillow_slr = zillow_slr.iloc[0,5:].T.rename("Zillow_slr").astype(float)
zillow_slr = zillow_slr.reset_index().rename(columns={'index': 'date'})
zillow_slr['date'] = pd.to_datetime(zillow_slr['date'])
print("min date of zillow_slr:", zillow_slr['date'].min())
zillow_slr = zillow_slr[(zillow_slr['date'].dt.year >= start_year) & (zillow_slr['date'].dt.month >= start_month)]
zillow_slr['date'] = zillow_slr['date'].dt.year.astype(str) + '-' + zillow_slr['date'].dt.month.astype(str)

zillow_dc = pd.read_csv("8-Metro_median_days_to_close_uc_sfrcondo_month.csv")
zillow_dc = zillow_dc.iloc[0,5:].T.rename("Zillow_dc").astype(float)
zillow_dc = zillow_dc.reset_index().rename(columns={'index': 'date'})
zillow_dc['date'] = pd.to_datetime(zillow_dc['date'])
print("min date of zillow_dc:", zillow_dc['date'].min())
zillow_dc = zillow_dc[(zillow_dc['date'].dt.year >= start_year) & (zillow_dc['date'].dt.month >= start_month)]
zillow_dc['date'] = zillow_dc['date'].dt.year.astype(str) + '-' + zillow_dc['date'].dt.month.astype(str)

zillow_zhvi = pd.read_csv("Y-Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_month.csv")
zillow_zhvi = zillow_zhvi.iloc[0,5:].T.rename("Zillow_zhvi").astype(float)
zillow_zhvi = zillow_zhvi.reset_index().rename(columns={'index': 'date'})
zillow_zhvi['date'] = pd.to_datetime(zillow_zhvi['date'])
print("min date of zillow_zhvi:", zillow_zhvi['date'].min())
zillow_zhvi = zillow_zhvi[(zillow_zhvi['date'].dt.year >= start_year) & (zillow_zhvi['date'].dt.month >= start_month)]
zillow_zhvi['date'] = zillow_zhvi['date'].dt.year.astype(str) + '-' + zillow_zhvi['date'].dt.month.astype(str)

# # convert index to datetime, and add 1 day to make sure it is not the end of each month
# # then extract the year and month into a new column for merge different data 
# zillow_zhvi["date"] = pd.to_datetime(zillow_zhvi['index']) + pd.Timedelta(days=1)
# zillow_zhvi["year"] = zillow_zhvi["date"].dt.year
# zillow_zhvi["month"] = zillow_zhvi["date"].dt.month

min date of cpi: 1947-01-01 00:00:00
min date of unrate: 1948-01-01 00:00:00
min date of mortgage: 1971-04-02 00:00:00
min date of zillow_mhi: 2018-01-31 00:00:00
min date of zillow_fsi: 2018-01-31 00:00:00
min date of zillow_mlp: 2018-01-31 00:00:00
min date of zillow_slr: 2018-01-31 00:00:00
min date of zillow_dc: 2018-01-31 00:00:00
min date of zillow_zhvi: 1996-02-29 00:00:00

In [4]:
data_sources = [cpi, unrate, mortgage, zillow_mhi, zillow_fsi, zillow_mlp, zillow_slr, zillow_dc, zillow_zhvi, sp500_close]
X = pd.DataFrame(columns=['date'])
for x in data_sources:
    X = X.merge(x, on='date', how='right')
X = X.dropna()
X.describe()

,CPIAUCSL,UNRATE,MORTGAGE30US,zillow_mhi,Zillow_fsi,Zillow_mlp,Zillow_slr,Zillow_dc,Zillow_zhvi,Close
count,88.000000,88.000000,88.000000,88.000000,8.800000e+01,88.000000,88.000000,88.000000,88.000000,88.000000
mean,280.114034,4.596591,4.835795,62.136364,1.175717e+06,340106.136364,0.994126,32.488636,303508.893089,3949.625902
std,24.826165,2.007941,1.583039,10.774792,2.907212e+05,48041.435274,0.007627,2.122644,51284.256170,996.823348
min,248.859000,3.400000,2.650000,47.000000,6.870480e+05,255000.000000,0.980490,29.000000,225798.210420,2506.850098
25%,256.331500,3.600000,3.320000,54.000000,9.443640e+05,294750.000000,0.987917,31.000000,250401.273298,2971.109985
50%,273.347000,3.900000,4.530000,59.000000,1.108666e+06,339450.000000,0.993585,32.000000,313262.930072,3971.519897
75%,304.228000,4.200000,6.630000,69.250000,1.367599e+06,389900.000000,1.000000,34.000000,354677.482868,4539.557617
max,320.321000,14.800000,7.760000,88.000000,1.742339e+06,410000.000000,1.014286,37.000000,368192.312507,6040.529785